html,
body {
	background: $mainBackgroundColor;
	color: $mainTextColor;
	font-size: $mainFontSize;
	height: 100%;
	margin: 0;
	min-height: 100%;
}

.b-login-form {
	@extend %clearfix;

	margin-top: 50px;
	input[type='submit'] {
		@include center();
		@include textShadow($listTextColor);
		@include border-radius(10px);

		border: 0;
		padding: 5px 20px;
	}
	.b-form-title {
		margin-left: 10%;

		&:after{
			margin-left: 5px;
		}
	}
}

.b-form-title {
	color: $h2Color;
}

.b-field-wrap {
	margin-bottom: 5px;
	&:last-child {
		margin-bottom: 0;
	}
	input {
		&[type='email'],
		&[type='number'],
		&[type='password'],
		&[type='tel'],
		&[type='url'],
		&[type='text'] {
			@include center();

			padding: 3px 5px;
			width: 80%;
		}
	}
}

.b-todo-list {
	margin-top: 50px;
}

.done:after {
	color: #26FC38;
	content: '+';
	margin-left: 5px;
}

ol {
	li {
		font-style: italic;
		list-style-type: $listStyleType;
	}
}