@include gridConstract();

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$arrows: top, right, bottom, left;
$arrowColor: #42F0FF;
$arrowWidth: 7px;
[class*='icon-arrow']:after{
	border-style: solid;
	border-color: transparent;
	border-width: $arrowWidth;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
}

@each $arrow in $arrows{
	.icon-arrow-#{$arrow}:after{
		border-#{$arrow}-width: 0;
	}
	@if $arrow == top{
		.icon-arrow-#{$arrow}:after{ border-bottom-color: $arrowColor; }
	}
	@else if $arrow == bottom{
		.icon-arrow-#{$arrow}:after{ border-top-color: $arrowColor; }
	}
	@else if $arrow == left{
		.icon-arrow-#{$arrow}:after{ border-right-color: $arrowColor; }
	}
	@else if $arrow == right{
		.icon-arrow-#{$arrow}:after{ border-left-color: $arrowColor; }
	}
}