@mixin gridConstract(){
	$gridNumIterator: $gridNummer;
	[class*=#{$gridPrefix}] {
		@include box-sizing(border-box);
		float: left;
	}
	@while $gridNumIterator > 0 {
		.#{$gridPrefix}-#{$gridNumIterator} {
			width: 100% / $gridNummer * $gridNumIterator;
		}
		$gridNumIterator: $gridNumIterator - 1;
	}
}

@mixin prefixMozWeb($property, $value){
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	#{$property}: $value;
}

@mixin box-sizing($value: border-box){
	@include prefixMozWeb(box-sizing, $value);
}

@mixin box-shadow($value: 0 0 1px 1px #FFF){
	@include prefixMozWeb(box-shadow, $value);
}

@mixin border-radius($value:50%){
	@include prefixMozWeb(border-radius, $value);
}

@mixin textShadow($colour, $opacity: 0.5) {

	@if lightness($colour) < 50% {
		text-shadow: 1px 1px 1px rgba(#FFF, $opacity);
	} @else {
		text-shadow: -1px -1px 1px rgba(#000, $opacity);
	}
	color: $colour;
}

@mixin center(){
	display: block;
	margin-left: auto;
	margin-right: auto;
}